body {
    background-image: url("../images/background-image.png");
    background-color: #653E85;
    background-size: cover;
    min-height: 100%;
    font-family: "VT323", sans-serif;
    letter-spacing: 0.5px;
    color: #373D3F;
    text-align: center;
    margin: 0;
    min-width: 400px;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    margin: 30px auto 20px;
}

#logo {
    height: 22vh;
    max-width: 400px;
    min-width: 130px;
}

/* Game area global styling */

.game-area {
    background-color: #A7FFC5;
    border-top: 4px solid #000000;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    box-sizing: border-box;
    width: 50vw;
    max-width: 440px;
    min-width: 400px;
    height: 400px;
    margin: 0 auto;
}

.show-div {
    display: block;
}

.hide-div {
    display: none;
}

/* Game area styling for intro content */

.welcome-rules {
    margin: 20px auto 10px;
    padding: 22px 15px;
    width: 210px;
    background-color: #F6FFA9;
}

#welcome-header {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 7px;
    margin: 0 auto;
}

#welcome-text {
    font-size: 1.2rem;
    margin: 0 auto;
}

#rules-header {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 15px;
    margin: 0 auto;
    color: #EA32C7;
}

#rules-text {
    font-size: 1.2rem;
    margin: 0 auto;
}

.start-btn-area {
    padding-top: 20px;
}

#start-btn {
    width: 128px;
}

/* Game area styling for game content */

.results {
    margin: 30px auto 12px;
    padding: 12px 0;
    width: 240px;
    background-color: #F6FFA9;
}

#result-header {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1px;
    margin: 0 auto;
}

#result-rule {
    font-size: 1.2rem;
    margin: 0 auto;
}

.hands-area {
    width: 320px;
    margin: 0 auto;
}

.hand-header {
    color: #EA32C7;
    font-size: 1.3rem;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}

.hands {
    vertical-align: bottom;
}

.rock-imgs {
    width: 81px;
}

.paper-imgs {
    width: 110px;
}

.scissors-imgs {
    width: 107px;
}


#user-hand-outer {
    float: left;
    width: 50%;
}

#user-hand-inner {
    height: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#computer-hand-outer {
    float: right;
    width: 50%;
}

#computer-hand-inner {
    height: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.controls {
    clear: both;
}

#controls-header {
    font-size: 1.45rem;
    padding-top: 32px;
    margin-block-end: 0.7em;
}

button {
    width: 94px;
    height: 35px;
    font-family: "VT323", sans-serif;
    letter-spacing: 1px;
    background-color: #A7FFC5;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    border-width: 4px;
    border-style: solid;
    border-radius: 2px;
    border-color: #EA32C7;
    margin: 5px 0 10px;
}

button:active,
button:focus {
    background-color: #F6FFA9;
    color: black;
}

/* Score area styling */

.score-area-outer {
    background-color: #000000;
    box-sizing: border-box;
    width: 50vw;
    max-width: 440px;
    min-width: 400px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    border: 4px solid transparent;
    box-shadow: inset 0 0 0 4px #EA32C7;
}

.score-area-inner {
    margin: 4px;
    position: absolute;
    clear: both;
    width: 100%;
    margin: auto;
}

#score-header {
    font-size: 1.6em;
    color: #EA32C7;
    letter-spacing: 1px;
    margin-block-start: 0.4em;
    margin-block-end: 0.23em;
}

.score-area-inner p {
    display: inline-block;
    color: white;
    letter-spacing: 1px;
    top: 50%;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 15px;
    margin-block-start: 0.15em;
    margin-block-end: 0.5em;
}

/* Footer area */
footer {
    width: 100%;    
}

#footer-inner {
    color: black;
    background-color: rgb(167, 255, 197, .6);
    width: 270px;
    margin: 0 auto;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1rem;
}

/* Media queries */

/* Screens 745px high and below */

@media (max-height: 745px) {
    .heading {
        margin: 15px auto 5px;
    }
    .game-area {
        height: 367px;
    }

    /* Responsive styling intro screen */
    .start-btn-area {
        padding-top: 7px;
    }

    /* Responsive styling game screen */
    .results {
        margin: 26px auto 12px;
    }

    .hand-header {
        margin-block-start: 0.4em;
    }

    #controls-header {
        padding-top: 26px;
    }
}

/* Screens 680px high and below */

@media (max-height: 680px) {
    .game-area {
        height: 325px;
    }

    /* Responsive styling intro screen */
    .welcome-rules {
        margin: 10px auto 10px;
        padding: 15px 15px;
    }

    #rules-header {
        padding-top: 15px;
    }

    #welcome-header {
        font-size: 1.3rem;
    }

    #welcome-text {
        font-size: 1.1rem;
    }

    #rules-header {
        font-size: 1.2rem;
    }

    #rules-text {
        font-size: 1.1rem;
    }

    /* Responsive styling game screen */
    .results {
        margin: 20px auto 8px;
    }

    .hand-header {
        font-size: 1.2rem;
        margin-block-end: 0.1em;
    }

    #controls-header {
        font-size: 1.25rem;
        margin-block-end: 0.1em;
        padding-top: 20px;
    }

    /* Responsive styling score area */
    #score-header {
        font-size: 1.5rem;
        margin-block-start: 0.5em;
    }

    .score-area-inner p {
        font-size: 1.2rem;
        font-weight: 200;
    }
}

/* Screens 610px high and below */

@media (max-height: 610px) {
    .game-area {
        height: 305px;
    }

    .results {
        margin: 14px auto 8px;
    }

    .score-area {
        height: 85px;
    }

    #score-header {
        margin-block-end: 0.15em;
    }
}

/* Screens 490px wide and below */

@media (max-width: 490px) {
    .heading {
        font-size: 1.9rem;
    }

    #result-header {
        font-size: 1.4rem;
    }
    
    #result-rule {
        font-size: 1.2rem;
    }
}

/* Screens 400px wide and below */

@media (max-width: 400px) {
    body {
        min-width: 320px;
    }
    .game-area {
        width: 90vw;
        min-width: 310px;
    }

    .score-area {
        width: 90vw;
        min-width: 310px;
    }

    .hands-area {
        width: 300px;
    }

    .rock-imgs {
        width: 73.7px;
    }
    
    .paper-imgs {
        width: 100px;
    }
    
    .scissors-imgs {
        width: 97.2px;
    }

    button {
        width: 80px;
        height: 30px;
        font-size: 1rem;
    }

    .score-area-outer {
        width: 90vw;
        min-width: 310px;
    }
}
