body {
    background-color: #8F3DB3;
    font-family: "Roboto", sans-serif;
    color: #373D3F;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2.6rem;
    color: white;
}

/* Game area styling */

.game-area {
    background-color: #F5DEAE;
    box-sizing: border-box;
    width: 60vw;
    max-width: 600px;
    height: 50vh;
    max-height: 500px;
    min-height: 420px;
    margin: 0 auto;
}

.results {
    margin-left: auto;
    margin-left: auto;
    padding: 30px 0;
    font-weight: bold;
}

#result-header {
    font-size: 1.6rem;
    padding-bottom: 10px;
    margin: 0 auto;
}

#result-rule {
    font-size: 1.2rem;
    margin: 0 auto;
}

.hands {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 20vw;
    max-width: 160px;
}

#user-hand-outer {
    float: left;
    width: 50%;
}

#user-hand-inner {
    float: right;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

#computer-hand-outer {
    float: right;
    width: 50%;
}

#computer-hand-inner {
    float: left;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.controls {
    clear: both;
}

h2 {
    font-size: 1.2rem;
    padding-top: 20px;
}

button {
    width: 90px;
    height: 35px;
    font-family: "Roboto", sans-serif;
    background-color: #D88CFA;
    font-size: 1.1rem;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: black;
    margin: 0 5px;
}

button:hover {
    background-color: #8F3DB3;
    color: white;
}