body {
    background-image: url("../images/background-image.png");
    background-color: #653E85;
    background-size: contain;
    font-family: "Roboto", sans-serif;
    color: #373D3F;
    text-align: center;
    margin: 0;
    min-width: 400px;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    font-size: 2.6rem;
    color: white;
    margin: 35px auto;
}

/* Game area styling */

.game-area {
    background-color: #FADEB1;
    box-sizing: border-box;
    width: 60vw;
    max-width: 600px;
    min-width: 400px;
    height: 440px;
    margin: 0 auto;
}

.results {
    margin-left: auto;
    margin-left: auto;
    padding: 30px 0;
    font-weight: bold;
}

#result-header {
    font-size: 1.5rem;
    padding-bottom: 7px;
    margin: 0 auto;
}

#result-rule {
    font-size: 1.2rem;
    margin: 0 auto;
}

.hands {
    width: 80%;
    margin: 10px auto;
}

img {
    width: 20vw;
    max-width: 180px;
    min-width: 120px;
}

#user-hand-outer {
    float: left;
    width: 50%;
}

#user-hand-inner {
    float: right;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

#computer-hand-outer {
    float: right;
    width: 50%;
}

#computer-hand-inner {
    float: left;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.controls {
    clear: both;
}

h2 {
    font-size: 1.2rem;
    padding-top: 20px;
    margin-block-end: 0.75em;
}

button {
    width: 90px;
    height: 35px;
    font-family: "Roboto", sans-serif;
    background-color: #D9B5F7;
    font-size: 1.1rem;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: black;
    margin: 0 5px;
}

button:hover {
    background-color: #754899;
    color: white;
}

/* Score area styling */

.score-area-outer {
    background-color: #CBF5DB;
    box-sizing: border-box;
    width: 60vw;
    max-width: 600px;
    min-width: 400px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

.score-area-inner {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.score-area-inner p {
    display: inline-block;
    top: 50%;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 15px;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 0.8rem;
}

/* Media queries */

/* Screens 740px and below */

@media (max-width: 740px) {
    .game-area {
        height: 400px;
    }
}

/* Screens 580px and below */

@media (max-width: 580px) {
    .game-area {
        height: 380px;
    }
}

/* Screens 490px wide and below */

@media (max-width: 490px) {
    .heading {
        font-size: 1.9rem;
        margin: 20px auto;
    }

    #result-header {
        font-size: 1.4rem;
    }
    
    #result-rule {
        font-size: 1.2rem;
    }
}

/* Screens 400px wide and below */

@media (max-width: 400px) {
    body {
        min-width: 320px;
    }
    .game-area {
        width: 90vw;
        min-width: 310px;
    }

    button {
        width: 80px;
        height: 30px;
        font-size: 1rem;
    }

    .score-area-outer {
        width: 90vw;
        min-width: 310px;
    }
}
